@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

@font-face {
  font-family: 'icomoon';
  src: url("./Assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoonbold';
  src: url("./Assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "icomoon", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
